@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  font-family: "roboto";
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar {
  width: 3px;
  /* width of the entire scrollbar */
}

::-webkit-scrollbar-track {
  background: rgb(240, 240, 240);
  /* color of the tracking area */
}

::-webkit-scrollbar-thumb {
  background-color: #60A5FA;
  /* color of the scroll thumb */
}