@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar {
  width: 7px;
  /* width of the entire scrollbar */
}

::-webkit-scrollbar-track {
  background: rgb(240, 240, 240);
  /* color of the tracking area */
}

::-webkit-scrollbar-thumb {
  background-color: #60a5fa;
  /* color of the scroll thumb */
}
